*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(1, 1, 31);
}
.scan{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    >.finger{
        position: relative;
        width: 300px;
        height: 300px;
        background: url(images/b.png);
        background-size: 300px;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(images/a.webp);
            filter: drop-shadow(0 0 5px #12a1d0)  drop-shadow(0 0 60px #12a1d0);
            background-size: 300px;
            animation: animate 4s ease-in-out infinite;
        }
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 8px;
            background-color: #12a1d0;
            border-radius: 5px;
            filter: drop-shadow(0 0 20px #12a1d0) drop-shadow(0 0 60px #12a1d0) ;
            animation: border 4s ease-in-out infinite;
        }
    }
    >h2{
        text-transform: uppercase;
        font-size: 1.8em;
        letter-spacing: 2px;
        margin-top: 70px;
        color: #12a1d0;
        filter: drop-shadow(0 0 5px #12a1d0)  drop-shadow(0 0 60px #12a1d0);
        animation: text 1s steps(50) infinite;
        
    }
}
@keyframes animate{
    0%,100%{
        height: 0%;
    
    }
    50%{
        height: 100%;
    }
}

@keyframes border{
    0%,100%{
        top: 0%;
    
    }
    50%{
        top: 100%;
    }

}

@keyframes text{
    0%,100%{
        opacity: 0;
    
    }
    50%{
       opacity: 1;
    }

}